# EdgeLake Operator with MQTT data ingestion
# Connects to an MQTT broker and ingests IoT/sensor data
apiVersion: edgelake.trv.io/v1alpha1
kind: EdgeLakeOperator
metadata:
  name: edgelake-operator-mqtt
  namespace: iot-data
spec:
  metadata:
    namespace: iot-data
    hostname: edgelake-mqtt-operator
    app_name: edgelake-mqtt-operator
    service_type: NodePort

  image:
    repository: anylogco/edgelake-network
    tag: "1.3.2500"

  persistence:
    enabled: true
    anylog:
      size: 5Gi
    blockchain:
      size: 1Gi
    data:
      size: 20Gi
    scripts:
      size: 1Gi

  resources:
    limits:
      cpu: "2000m"
      memory: "4Gi"
    requests:
      cpu: "500m"
      memory: "1Gi"

  node_configs:
    general:
      NODE_TYPE: operator
      NODE_NAME: edgelake-mqtt-operator
      COMPANY_NAME: "IoT Company"

    networking:
      ANYLOG_SERVER_PORT: 32148
      ANYLOG_REST_PORT: 32149
      ANYLOG_BROKER_PORT: "32150"

    database:
      DB_TYPE: sqlite

    blockchain:
      LEDGER_CONN: "master-node-ip:32048"
      BLOCKCHAIN_SOURCE: master

    operator:
      CLUSTER_NAME: iot-cluster
      DEFAULT_DBMS: iot_data
      ENABLE_PARTITIONS: true
      PARTITION_INTERVAL: "1 day"
      PARTITION_KEEP: 7

    mqtt:
      ENABLE_MQTT: true
      MQTT_BROKER: "mqtt-broker.iot-data.svc.cluster.local"
      MQTT_PORT: 1883
      MQTT_USER: ""
      MQTT_PASSWD: ""
      MQTT_LOG: false
      MSG_TOPIC: "sensors/#"
      MSG_DBMS: iot_data
      MSG_TABLE: "bring [table]"
      MSG_TIMESTAMP_COLUMN: "bring [timestamp]"
      MSG_VALUE_COLUMN: "bring [value]"
      MSG_VALUE_COLUMN_TYPE: float

    advanced:
      WRITE_IMMEDIATE: false
      THRESHOLD_TIME: "30 seconds"
      THRESHOLD_VOLUME: "100KB"
