apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: edgelakeoperators.edgelake.trv.io
spec:
  group: edgelake.trv.io
  names:
    kind: EdgeLakeOperator
    listKind: EdgeLakeOperatorList
    plural: edgelakeoperators
    singular: edgelakeoperator
    shortNames:
      - elo
      - edgelake
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      subresources:
        status: {}
      schema:
        openAPIV3Schema:
          type: object
          description: EdgeLakeOperator is the Schema for deploying EdgeLake operator nodes
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              type: object
              description: Spec defines the desired state of EdgeLakeOperator
              x-kubernetes-preserve-unknown-fields: true
              properties:
                metadata:
                  type: object
                  description: Kubernetes metadata configuration
                  properties:
                    namespace:
                      type: string
                      default: default
                    hostname:
                      type: string
                      default: edgelake-operator
                    app_name:
                      type: string
                      default: edgelake-operator
                    service_name:
                      type: string
                      default: edgelake-operator-service
                    configmap_name:
                      type: string
                      default: edgelake-operator-configmap
                    node_selector:
                      type: string
                      default: ""
                    service_type:
                      type: string
                      enum: [ClusterIP, NodePort, LoadBalancer]
                      default: NodePort
                image:
                  type: object
                  description: Container image configuration
                  properties:
                    secret_name:
                      type: string
                      default: ""
                    repository:
                      type: string
                      default: anylogco/edgelake-network
                    tag:
                      type: string
                      default: "1.3.2500"
                    pull_policy:
                      type: string
                      enum: [Always, IfNotPresent, Never]
                      default: IfNotPresent
                persistence:
                  type: object
                  description: Persistent volume configuration
                  properties:
                    enabled:
                      type: boolean
                      default: true
                    storageClassName:
                      type: string
                      default: ""
                    accessMode:
                      type: string
                      default: ReadWriteOnce
                    anylog:
                      type: object
                      properties:
                        size:
                          type: string
                          default: 5Gi
                    blockchain:
                      type: object
                      properties:
                        size:
                          type: string
                          default: 1Gi
                    data:
                      type: object
                      properties:
                        size:
                          type: string
                          default: 10Gi
                    scripts:
                      type: object
                      properties:
                        size:
                          type: string
                          default: 1Gi
                resources:
                  type: object
                  description: Resource limits and requests
                  properties:
                    limits:
                      type: object
                      properties:
                        cpu:
                          type: string
                          default: "2000m"
                        memory:
                          type: string
                          default: "4Gi"
                    requests:
                      type: object
                      properties:
                        cpu:
                          type: string
                          default: "500m"
                        memory:
                          type: string
                          default: "1Gi"
                node_configs:
                  type: object
                  description: EdgeLake node configuration
                  x-kubernetes-preserve-unknown-fields: true
                  properties:
                    directories:
                      type: object
                      properties:
                        ANYLOG_PATH:
                          type: string
                          default: /app
                        LOCAL_SCRIPTS:
                          type: string
                          default: /app/deployment-scripts/node-deployment
                        TEST_DIR:
                          type: string
                          default: /app/deployment-scripts/tests
                    general:
                      type: object
                      properties:
                        LICENSE_KEY:
                          type: string
                          default: ""
                        NODE_TYPE:
                          type: string
                          enum: [master, operator, query]
                          default: operator
                        NODE_NAME:
                          type: string
                          default: ""
                        COMPANY_NAME:
                          type: string
                          default: "New Company"
                        DISABLE_CLI:
                          type: boolean
                          default: false
                        REMOTE_CLI:
                          type: boolean
                          default: false
                    geolocation:
                      type: object
                      properties:
                        LOCATION:
                          type: string
                          default: ""
                        COUNTRY:
                          type: string
                          default: ""
                        STATE:
                          type: string
                          default: ""
                        CITY:
                          type: string
                          default: ""
                    networking:
                      type: object
                      properties:
                        OVERLAY_IP:
                          type: string
                          default: ""
                        ANYLOG_SERVER_PORT:
                          type: integer
                          default: 32148
                        ANYLOG_REST_PORT:
                          type: integer
                          default: 32149
                        ANYLOG_BROKER_PORT:
                          type: string
                          default: ""
                        TCP_BIND:
                          type: boolean
                          default: false
                        REST_BIND:
                          type: boolean
                          default: false
                        BROKER_BIND:
                          type: boolean
                          default: false
                        CONFIG_NAME:
                          type: string
                          default: ""
                        NIC_TYPE:
                          type: string
                          default: ""
                        TCP_THREADS:
                          type: integer
                          default: 6
                        REST_TIMEOUT:
                          type: integer
                          default: 30
                        REST_THREADS:
                          type: integer
                          default: 6
                        BROKER_THREADS:
                          type: integer
                          default: 6
                    database:
                      type: object
                      properties:
                        DB_TYPE:
                          type: string
                          enum: [sqlite, psql]
                          default: sqlite
                        DB_USER:
                          type: string
                          default: ""
                        DB_PASSWD:
                          type: string
                          default: ""
                        DB_IP:
                          type: string
                          default: "127.0.0.1"
                        DB_PORT:
                          type: integer
                          default: 5432
                        AUTOCOMMIT:
                          type: boolean
                          default: false
                        ENABLE_NOSQL:
                          type: boolean
                          default: false
                        SYSTEM_QUERY:
                          type: boolean
                          default: false
                        MEMORY:
                          type: boolean
                          default: false
                        NOSQL_TYPE:
                          type: string
                          default: mongo
                        NOSQL_USER:
                          type: string
                          default: ""
                        NOSQL_PASSWD:
                          type: string
                          default: ""
                        NOSQL_IP:
                          type: string
                          default: "127.0.0.1"
                        NOSQL_PORT:
                          type: integer
                          default: 27017
                        BLOBS_DBMS:
                          type: boolean
                          default: false
                        BLOBS_REUSE:
                          type: boolean
                          default: true
                    blockchain:
                      type: object
                      properties:
                        LEDGER_CONN:
                          type: string
                          default: "127.0.0.1:32048"
                        SYNC_TIME:
                          type: string
                          default: "30 second"
                        BLOCKCHAIN_SYNC:
                          type: string
                          default: "30 second"
                        BLOCKCHAIN_SOURCE:
                          type: string
                          enum: [master, ethereum, hyperledger]
                          default: master
                        BLOCKCHAIN_DESTINATION:
                          type: string
                          enum: [file, dbms]
                          default: file
                    operator:
                      type: object
                      properties:
                        CLUSTER_NAME:
                          type: string
                          default: new-company-cluster1
                        DEFAULT_DBMS:
                          type: string
                          default: new_company
                        MEMBER:
                          type: string
                          default: ""
                        ENABLE_HA:
                          type: boolean
                          default: false
                        START_DATE:
                          type: integer
                          default: 30
                        OPERATOR_THREADS:
                          type: integer
                          default: 3
                        ENABLE_PARTITIONS:
                          type: boolean
                          default: true
                        TABLE_NAME:
                          type: string
                          default: "*"
                        PARTITION_COLUMN:
                          type: string
                          default: insert_timestamp
                        PARTITION_INTERVAL:
                          type: string
                          default: "14 days"
                        PARTITION_KEEP:
                          type: integer
                          default: 3
                        PARTITION_SYNC:
                          type: string
                          default: "1 day"
                    mqtt:
                      type: object
                      properties:
                        ENABLE_MQTT:
                          type: boolean
                          default: false
                        MQTT_BROKER:
                          type: string
                          default: ""
                        MQTT_PORT:
                          type: integer
                          default: 1883
                        MQTT_USER:
                          type: string
                          default: ""
                        MQTT_PASSWD:
                          type: string
                          default: ""
                        MQTT_LOG:
                          type: boolean
                          default: false
                        MSG_TOPIC:
                          type: string
                          default: ""
                        MSG_DBMS:
                          type: string
                          default: new_company
                        MSG_TABLE:
                          type: string
                          default: "bring [table]"
                        MSG_TIMESTAMP_COLUMN:
                          type: string
                          default: "bring [timestamp]"
                        MSG_VALUE_COLUMN:
                          type: string
                          default: "bring [value]"
                        MSG_VALUE_COLUMN_TYPE:
                          type: string
                          default: float
                    opcua:
                      type: object
                      properties:
                        ENABLE_OPCUA:
                          type: boolean
                          default: false
                        OPCUA_URL:
                          type: string
                          default: ""
                        OPCUA_NODE:
                          type: string
                          default: ""
                        OPCUA_FREQUENCY:
                          type: string
                          default: ""
                    etherip:
                      type: object
                      properties:
                        ENABLE_ETHERIP:
                          type: boolean
                          default: false
                        SIMULATOR_MODE:
                          type: boolean
                          default: false
                        ETHERIP_URL:
                          type: string
                          default: ""
                        ETHERIP_FREQUENCY:
                          type: string
                          default: ""
                    aggregations:
                      type: object
                      properties:
                        ENABLE_AGGREGATIONS:
                          type: boolean
                          default: false
                        AGGREGATION_TIME_COLUMN:
                          type: string
                          default: insert_timestamp
                        AGGREGATION_VALUE_COLUMN:
                          type: string
                          default: value
                    monitoring:
                      type: object
                      properties:
                        MONITOR_NODES:
                          type: boolean
                          default: false
                        STORE_MONITORING:
                          type: boolean
                          default: false
                        SYSLOG_MONITORING:
                          type: boolean
                          default: false
                    mcp:
                      type: object
                      properties:
                        MCP_AUTOSTART:
                          type: boolean
                          default: false
                    advanced:
                      type: object
                      properties:
                        DEPLOY_LOCAL_SCRIPT:
                          type: boolean
                          default: false
                        DEBUG_MODE:
                          type: boolean
                          default: false
                        COMPRESS_FILE:
                          type: boolean
                          default: true
                        QUERY_POOL:
                          type: integer
                          default: 6
                        WRITE_IMMEDIATE:
                          type: boolean
                          default: false
                        THRESHOLD_TIME:
                          type: string
                          default: "60 seconds"
                        THRESHOLD_VOLUME:
                          type: string
                          default: "100KB"
                    nebula:
                      type: object
                      properties:
                        ENABLE_NEBULA:
                          type: boolean
                          default: false
                        NEBULA_NEW_KEYS:
                          type: boolean
                          default: false
                        IS_LIGHTHOUSE:
                          type: boolean
                          default: false
                        CIDR_OVERLAY_ADDRESS:
                          type: string
                          default: ""
                        LIGHTHOUSE_IP:
                          type: string
                          default: ""
                        LIGHTHOUSE_NODE_IP:
                          type: string
                          default: ""
            status:
              type: object
              description: Status defines the observed state of EdgeLakeOperator
              x-kubernetes-preserve-unknown-fields: true
              properties:
                conditions:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                      status:
                        type: string
                      lastTransitionTime:
                        type: string
                      reason:
                        type: string
                      message:
                        type: string
                deployedRelease:
                  type: object
                  properties:
                    name:
                      type: string
                    manifest:
                      type: string
      additionalPrinterColumns:
        - name: Age
          type: date
          jsonPath: .metadata.creationTimestamp
        - name: Status
          type: string
          jsonPath: .status.conditions[?(@.type=="Deployed")].status
