apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: edgelake-operator-leader-election-role
  namespace: edgelake-operator-system
  labels:
    app.kubernetes.io/name: edgelake-operator
    app.kubernetes.io/managed-by: kustomize
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
